
.blue-header {

    height: 72px;
    background-color: #10BBD5;
    position: fixed;
    width: 100%;
}


.header-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

}

.container {
    width: 1296px;
    margin: 0 auto;
    padding: 0;
}

.order-price {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

button.header-button {
    background-image: url("../img/cart_icon.png");
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: black;
    font-family: Cabin;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    padding: 12px 12px 18px 19px;
}

.header-menu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    position: static;
    padding-top: 80px;
}

.nav-item {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.nav-list {
    display: flex;
    justify-content: space-between;

}

.nav-list a {
    text-decoration: none;
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-left: 40px;
}

main {
    background-color: #EEEEEF;

}

h1 {

    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
    padding: 60px 0 24px 0;
    border-bottom: 1px solid #A8A8A8;
}

.main-products {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 32px;
    column-gap: 20px;
    padding: 23px 0 130px;

}

.product-item {

    border: 1px solid #8E8E8E;
    background: white;
    padding: 32px;
    height: 425px;
}

.item{
  margin: 32px;
}
.item img {
    width: 178px;
    height: 280px;
    align-items: center;
}


.item-name {
    display: block;
    border-bottom: 1px solid #8E8E8E;
    text-decoration: none;
    width: 241px;
    height: 31px;
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.item-author {
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

.item-price {
    color: #E90000;

    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */

}

.products-button {
    display: block;
    border-radius: 4px;
    background: #4C394E;
    width: 242px;
    height: 40px;
    border: none;
    margin-top: 10px;
    color: white;
}

.soldOut-product {
    border-radius: 4px;
    background: #4D762D;
    width: 242px;
    height: 40px;
    border: none;
    margin-top: 10px;
    color: white;
}

.old-price {
    color: #8E8E8E;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    text-decoration: line-through;
    padding-left: 24px;
}

footer {

    background: #4C394E;
    padding: 32px 0;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    width: 1296px;
    margin: 0 auto;
    padding: 0;
}
.footer-content {

    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

}



.hit-badge {
    display: block;
    position: relative;
    bottom: 429px;
    left: 10px;
    border-radius: 4px;
    background: #4200FF;
    width: 20px;
    height: 24px;
    padding: 4px 8px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.new-badge {
    display: block;
    border-radius: 4px;
    background: #AF39E7;
    width: 32px;
    height: 24px;
    padding: 4px 8px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    position: relative;
    bottom: 429px;;
}

.discount-badge {
    display: block;
    border-radius: 4px;
    background: #EA33C0;
    width: 58px;

    padding: 4px 8px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    position: relative;
    bottom: 461px;
    left: 50px;
}

.discount-badge-different {
    display: block;
    border-radius: 4px;
    background: #EA33C0;
    width: 58px;
    padding: 4px 8px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    position: relative;
    bottom: 429px;
}

button.chat-button {
    background-image: url("/img/Property 1=Default.svg");
    position: fixed;
    left: 1560px;
    bottom: 600px;
    width: 64px;
    height: 64px;
    background-color: transparent;
    border: none;

}